html, body {
  height: 100%;
}

a.active {
  background-color: gray;
}

.clearfix {
  clear: both;
}

.green-bordered {
  box-shadow: 0 0 20px green;
}

.blue-bordered {
  box-shadow: 0 0 20px blue;
}
